primeros_pasos_shelly.json
[
    {
        "id": "e16e489d45fb0e1c",
        "type": "tab",
        "label": "Primeros pasos con mqtt y shelly",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ca25621953dd463e",
        "type": "debug",
        "z": "e16e489d45fb0e1c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 380,
        "wires": []
    },
    {
        "id": "06c80a0adb235780",
        "type": "ui_button",
        "z": "e16e489d45fb0e1c",
        "name": "",
        "group": "4a8283e33b1c08e5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Temporizador (5s)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Timer_relay",
        "topicType": "str",
        "x": 230,
        "y": 520,
        "wires": [
            [
                "73eb5204c92c95bb"
            ]
        ]
    },
    {
        "id": "2130f1e123c9b8a6",
        "type": "function",
        "z": "e16e489d45fb0e1c",
        "name": "",
        "func": "\nrelay_url = '192.168.10.110/relay/0?turn='\n\nif ( msg.topic == 'Switch_relay'){\n    if( msg.payload == 1){\n        url_estado = 'on'\n    }\n    else{\n        url_estado = 'off'\n    }\n}\nif(msg.topic =='Timer_relay'){\n    url_estado = 'off'\n}\nif(msg.topic =='custom_time_relay'){\n    url_estado = 'off'\n}\nmsg.url = relay_url + url_estado\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nurl_estado = 'off'",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 380,
        "wires": [
            [
                "178682145feb422a"
            ]
        ]
    },
    {
        "id": "178682145feb422a",
        "type": "http request",
        "z": "e16e489d45fb0e1c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 770,
        "y": 380,
        "wires": [
            [
                "ca25621953dd463e"
            ]
        ]
    },
    {
        "id": "2965c1571ffd2a27",
        "type": "ui_switch",
        "z": "e16e489d45fb0e1c",
        "name": "",
        "label": "Interruptor",
        "tooltip": "",
        "group": "4a8283e33b1c08e5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Switch_relay",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 410,
        "y": 600,
        "wires": [
            [
                "2130f1e123c9b8a6"
            ]
        ]
    },
    {
        "id": "24b721410a2f57fd",
        "type": "delay",
        "z": "e16e489d45fb0e1c",
        "name": "",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 380,
        "wires": [
            [
                "2130f1e123c9b8a6"
            ]
        ]
    },
    {
        "id": "32321589bb196769",
        "type": "ui_slider",
        "z": "e16e489d45fb0e1c",
        "name": "",
        "label": "Select delay time",
        "tooltip": "",
        "group": "4a8283e33b1c08e5",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "custom_time_relay",
        "topicType": "str",
        "min": "5",
        "max": "15",
        "step": 1,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "9465176fa9448a18"
            ]
        ]
    },
    {
        "id": "73eb5204c92c95bb",
        "type": "delay",
        "z": "e16e489d45fb0e1c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 520,
        "wires": [
            [
                "2130f1e123c9b8a6"
            ]
        ]
    },
    {
        "id": "9465176fa9448a18",
        "type": "change",
        "z": "e16e489d45fb0e1c",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "delay",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 280,
        "wires": [
            [
                "cee89f571ee4daaa"
            ]
        ]
    },
    {
        "id": "cee89f571ee4daaa",
        "type": "function",
        "z": "e16e489d45fb0e1c",
        "name": "",
        "func": "\nmsg.delay = msg.delay*1000\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "24b721410a2f57fd"
            ]
        ]
    },
    {
        "id": "c73e13b072cb5b99",
        "type": "mqtt out",
        "z": "e16e489d45fb0e1c",
        "name": "",
        "topic": "shellies/shellyem1/relay/0",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f225617c734d3e7c",
        "x": 290,
        "y": 700,
        "wires": []
    },
    {
        "id": "14a9b311e0c5d12a",
        "type": "mqtt in",
        "z": "e16e489d45fb0e1c",
        "name": "",
        "topic": "shellies/shellyem1/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "f225617c734d3e7c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 760,
        "wires": [
            [
                "5205ec558eb32699"
            ]
        ]
    },
    {
        "id": "0abfdb6cec62e0da",
        "type": "inject",
        "z": "e16e489d45fb0e1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "c73e13b072cb5b99"
            ]
        ]
    },
    {
        "id": "5205ec558eb32699",
        "type": "debug",
        "z": "e16e489d45fb0e1c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 760,
        "wires": []
    },
    {
        "id": "26cd7a3674b91586",
        "type": "inject",
        "z": "e16e489d45fb0e1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "c73e13b072cb5b99"
            ]
        ]
    },
    {
        "id": "4a8283e33b1c08e5",
        "type": "ui_group",
        "name": "Shelly-IoT",
        "tab": "8239ae6ec55b1e10",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f225617c734d3e7c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.10.144",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8239ae6ec55b1e10",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]